header,button{
     font-family: 'Proza Libre', sans-serif;
    text-align: center;
}

.med-form{
    font-family: 'Proza Libre', sans-serif;
    display: block;
    margin-bottom: 15px;
    max-width: 500px; 
    align-self: center;
}


 

